<!DOCTYPE html>
<html>
<head>
	<title>ECConIA-Effect of Climate Change on Indian Agriculture</title>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>ECConIA-Effect of Climate Change on Indian Agriculture</h1>

	<p>Body goes here</p>
	<button>Button example 1</button>

	{% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>